.layout-sidebar {
    position: fixed;
    width: 220px;
    height: calc(100vh);
    z-index: 40;
    overflow-y: auto;
    user-select: none;
    top: 4.8rem;
    left: 1rem;
    transition: transform 0.2s ease;
    background-color: var(--surface-overlay);
    border-radius: 10px;
    border: 1px solid #ffffff1f;
    padding: 0.5rem 0rem;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.02), 0px 0px 2px rgba(0, 0, 0, 0.05), 0px 1px 4px rgba(0, 0, 0, 0.08);
  }
  .layout-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  .layout-menu .layout-root-menuitem > .layout-menuitem-root-text {
    
    text-transform: uppercase;
    font-weight: 700;
    
    margin: 0.75rem 0;
  }
 
  
  .layout-submenu-enter-from, .layout-submenu-leave-to {
    max-height: 0;
  }
  .layout-submenu-enter-to, .layout-submenu-leave-from {
    max-height: 1000px;
  }
  .layout-submenu-leave-active {
    overflow: hidden;
    transition: max-height 0.2s cubic-bezier(0, 1, 0, 1);
  }
  .layout-submenu-enter-active {
    overflow: hidden;
    transition: max-height 1s ease-in-out;
  }
