.layout-topbar {
    position: fixed;
    height: 4rem;
    z-index: 30;
    left: 0;
    top: 0;
    width: 100%;
    padding: 0 1rem;
    transition: transform 0.2s ease;
    display: flex;
    align-items: center;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.02), 0px 0px 2px rgba(0, 0, 0, 0.05), 0px 1px 4px rgba(0, 0, 0, 0.08);
  }
  .layout-topbar .layout-topbar-logo {

    font-size: 1.5rem;
    font-weight: 500;
    width: 200px;
    border-radius: 1px;
  }
  .layout-topbar .layout-topbar-logo img {
    height: 2.5rem;
    margin-right: 0.5rem;
  }

  .layout-topbar .layout-topbar-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: var(--text-color-secondary);
    border-radius: 5px;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  .layout-topbar .layout-topbar-button:hover {
    color: var(--text-color);
    background-color: var(--surface-hover);
  }

  .layout-topbar .layout-topbar-button i {
    font-size: 1.5rem;
  }
  .layout-topbar .layout-topbar-button span {
    font-size: 1rem;
    display: none;
  }
  .layout-topbar .layout-menu-button {
    margin-left: 0rem;
  }
  .layout-topbar .layout-topbar-menu-button {
    display: none;
  }
  .layout-topbar .layout-topbar-menu-button i {
    font-size: 1.25rem;
  }
  .layout-topbar .layout-topbar-menu {
    margin: 0 0 0 auto;
    padding: 0;
    list-style: none;
    display: flex;
  }
  .layout-topbar .layout-topbar-menu .layout-topbar-button {
    margin-left: 1rem;
  }
  @media (max-width: 991px) {
    .layout-topbar {
      justify-content: space-between;
    }
    .layout-topbar .layout-topbar-logo {
      width: auto;
      order: 2;
    }
    .layout-topbar .layout-menu-button {
      margin-left: 0;
      order: 1;
    }
    .layout-topbar .layout-topbar-menu-button {
      display: inline-flex;
      margin-left: 0;
      order: 3;
    }
    .layout-topbar .layout-topbar-menu {
      margin-left: 0;
      position: absolute;
      flex-direction: column;
      box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.02), 0px 0px 2px rgba(0, 0, 0, 0.05), 0px 1px 4px rgba(0, 0, 0, 0.08);
      border-radius: 5px;
      padding: 0.5rem;
      right: 0.5rem;
      top: 4.1rem;
      min-width: 5rem;
      display: none;
      /*-webkit-animation: scalein 0.15s linear;*/
      animation: scalein 0.15s linear;
    }
    .layout-topbar .layout-topbar-menu.layout-topbar-menu-mobile-active {
      display: block;
    }
    .layout-topbar .layout-topbar-menu .layout-topbar-button {
      margin-left: 0;
      display: flex;
      width: 100%;
      height: auto;
      justify-content: flex-start;
      border-radius: 5px;
      padding: 0.5rem;
    }
    .layout-topbar .layout-topbar-menu .layout-topbar-button i {
      font-size: 1rem;
      margin-right: 0.5rem;
    }
    .layout-topbar .layout-topbar-menu .layout-topbar-button span {
      font-weight: medium;
      display: block;
    }
  }
