
<script setup>
import { ref, onMounted, computed } from 'vue';
import AppLayout from '@/layouts/AppLayout.vue'
import { storeToRefs } from 'pinia';
import { useTaskStore } from '@/stores';
import { useToast } from "primevue/usetoast";
import { FilterMatchMode } from 'primevue/api';

const taskStore = useTaskStore();
const { tasks, saldo } = storeToRefs(taskStore);
const isSending = ref(false);

const toast = useToast();
const datos = computed(() => taskStore.tasks)
onMounted(() => {
    taskStore.resetTasks();
    taskStore.getAll();


})

const filters = ref({
    global: { value: null, matchMode: FilterMatchMode.CONTAINS }


});
const getStatusLabel = (stat) => {
    switch (stat) {
        case 'INGRESO':
            return 'success';
        case 'EGRESO':
            return 'danger';
        default:
            return null;
    }
}


const deleteEvento = (id) => {

    const sendForm = taskStore.destroy(id);
    isSending.value = true;
    sendForm.then((response) => {
        taskStore.getAll();
        toast.add({ severity: 'success', summary: 'Eliminado', detail: 'Se ha Eliminado.', life: 3000 });
    }).catch((error) => {
        if (error.response) {
            console.log(error.response.data.errors);
            console.log("server responded");
        } else if (error.request) {
            console.log("network error");
        } else {
            console.log(error);
        }
    }).finally(function () {
        // always executed
        isSending.value = false;
    });

}

</script>

<template>
    <AppLayout>
        <Toast />
        <div class="col-span-12">
            <Panel>
                <template #header>
                   
                    <div class="flex items-center gap121 w-full">

                        <span class="font-bold text-xl">Balance</span>

                    </div>
                </template>

                <DataTable :value="datos" dataKey="id" :pt="{
                    table: { style: '' }
                }" v-model:filters="filters" :rows="5" :rowsPerPageOptions="[5, 10, 20, 50]">
                    <template #header>
                        <div class="flex flex-wrap items-center justify-between gap-2">
                            <span class="text-xl text-surface-900 dark:text-surface-0 font-bold">Saldo: {{ saldo }} </span>

                        </div>
                        <div class="flex justify-end gap-1  w-full">
                        <span class="p-input-icon-left">
                            <InputText v-model="filters['global'].value" placeholder="Buscar" />
                        </span>
                    </div>
                    </template>
                    <Column field="title" header="Titulo" style="width: 20%">
                        <template #editor="{ data, field }">
                            <InputText v-model="data[field]" />
                        </template>
                    </Column>

                    <Column field="extendedProps.monto" header="Monto" style="width: 20%">
                        <template #editor="{ data, field }">
                            <InputText v-model="data[field]" />
                        </template>
                    </Column>
                    <Column field="extendedProps.tipo" header="Tipo" class="text-center" style="width: 10%">
                        <template #body="slotProps">
                            <Tag :value="slotProps.data.extendedProps.tipo" class="py-2"
                                :severity="getStatusLabel(slotProps.data.extendedProps.tipo)" />
                        </template>
                    </Column>

                    <Column field="extendedProps.nota" header="Nota" style="width: 20%">
                        <template #editor="{ data, field }">
                            <InputText v-model="data[field]" />
                        </template>
                    </Column>
                    <Column field="start" header="Fecha" style="width: 15%">
                        <template #editor="{ data, field }">
                            <InputText v-model="data[field]" />
                        </template>
                    </Column>
                    <!--

                        <Column headerStyle="width: 10rem; text-align: center"
                        bodyStyle="text-align: center; overflow: visible">
                        <template #body="slotProps">
                            <Button type="button" class="m-1" icon="pi pi-pencil" size="small" severity="info" />
                            <Button type="button" class="m-1" icon="pi pi-trash" size="small"
                            @click.prevent="deleteEvento(slotProps.data.id)" severity="danger" />
                        </template>
                    </Column>
                -->


                </DataTable>






            </Panel>
        </div>

    </AppLayout>
</template>
<style scoped></style>