<script setup>
import { ref } from 'vue';
import Layout from '@/layouts/Layout.vue'
import { useAuthStore } from '@/stores';
import { useToast } from "primevue/usetoast";

const isSending = ref(false);
const editErrors = ref([]);
const authStore = useAuthStore();
const toast = useToast();
const email = ref('');
const name = ref('');
const message = ref('');


const onSubmit = () => {
  editErrors.value = [];
  const sendForm = authStore.sendMailContact(name.value, email.value, message.value);
  isSending.value = true;
  sendForm.then((response) => {
    name.value='';
    email.value='';
    message.value='';
    toast.add({ severity: 'success', summary:'Enviado',contentStyleClass:'text-gray-600', detail: 'Mensaje enviado.', life: 3000 });
  }).catch((error) => {
    if (error.response) {
      editErrors.value = error.response.data.errors;
      console.log(error.response.data.errors);
      console.log("server responded");
    } else if (error.request) {
      console.log("network error");
    } else {
      console.log(error);
    }
  }).finally(function () {
    // always executed
    isSending.value = false;
  });

};

</script>

<template>
  <Layout>
    <Toast/>
    <div class="bg-gray-100">
      <div class="container mx-auto py-16">
        <div class="flex justify-center">
          <div class="max-w-4xl bg-white p-8 border shadow-md rounded-md mr-4">
            <h2 class="text-5xl font-semibold mb-8 text-gray-800">Formulario de Contacto</h2>

            <form @submit.prevent="onSubmit">
              <div class="mb-6">
                <label for="name" class="block text-gray-800 text-sm font-medium mb-2">Nombre</label>
                <input type="text" id="name" name="name" v-model="name" class="w-full p-4 border rounded-md text-gray-800">
                <div v-if="editErrors" class="text-wrap text-start">
                  <div v-if="editErrors.name">
                    <small class="text-red-500" v-for="item in editErrors.name">
                      {{ item }}
                    </small>
                  </div>
                </div>
              </div>

              <div class="mb-6">
                <label for="email" class="block text-gray-800 text-sm font-medium mb-2">Correo Electrónico</label>
                <input type="email" id="email" name="email" v-model="email" class="w-full p-4 border rounded-md text-gray-800">
                <div v-if="editErrors" class="text-wrap text-start">
                  <div v-if="editErrors.email">
                    <small class="text-red-500" v-for="item in editErrors.email">
                      {{ item }}
                    </small>
                  </div>
                </div>
              </div>

              <div class="mb-6">
                <label for="message" class="block text-gray-800 text-sm font-medium mb-2">Mensaje</label>
                <textarea id="message" name="message" rows="4" v-model="message" class="w-full p-4 border rounded-md text-gray-800"></textarea>
                <div v-if="editErrors" class="text-wrap text-start">
                  <div v-if="editErrors.message">
                    <small class="text-red-500" v-for="item in editErrors.message">
                      {{ item }}
                    </small>
                  </div>
                </div>
              </div>

              <Button label="Enviar Mensaje" type="submit" :loading="isSending"
                class="text-white p-4 rounded-md  text-base font-normal"></Button>

            </form>
          </div>

          <div class="max-w-2xl bg-white p-8 border shadow-md rounded-md">
            <h2 class="text-5xl font-semibold mb-8 text-gray-800">Datos de Contacto</h2>

            <div class="mb-8">
              <p class="text-gray-800">O contáctanos directamente:</p>
            </div>

            <ul class="list-disc ml-8 mb-8 text-gray-800">
              <li>Email: senasrf9@gmail.com</li>
              <li>Teléfono: +57 313 883 4723</li>
              <li>Dirección: Cll 53 a sur #80a-26</li>
            </ul>

            <!-- Aquí puedes insertar un mapa utilizando una librería como Google Maps -->
            <div class="h-64 bg-gray-300 rounded-md">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d7953.746925129774!2d-74.17373590909088!3d4.61665268181819!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sco!4v1705593969152!5m2!1ses!2sco"
                width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>

</Layout></template>
<style scoped></style>