<script setup>

import Layout from '@/layouts/Layout.vue'
</script>

<template>

  <Layout>
        <div class="flex flex-column p-0 overflow-hidden"
            style="background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), radial-gradient(77.36% 256.97% at 77.36% 57.52%, rgb(238, 239, 175) 0%, rgb(195, 227, 250) 100%); clip-path: ellipse(150% 87% at 93% 13%)">
            <div class="mx-4 md:mx-8 mt-0 md:mt-4">
                <h1 class="text-6xl font-bold text-gray-900 line-height-2"><span class="font-light block">Gestiona y ordena tus deudas</span> Aburrido de no tener soluciones al endeudamiento</h1>
                <p class="font-normal text-2xl line-height-3 md:mt-3 text-gray-700">Conocenos y trabaja con nosotros</p>
                 <a href="/register">
                    <Button label="Dale aqui" class="p-3 text-xl"></Button>
            </a>
            </div>
           
            <div class="flex justify-content-center md:justify-content-end">
                <img src="https://img.freepik.com/foto-gratis/concepto-collage-html-css-persona_23-2150062008.jpg?w=1380&t=st=1702653069~exp=1702653669~hmac=0f12e92f2464b44e6c9f21b7dedf60e78e01c6a54a883920a7cb7d55a419b245"
                    alt="Hero Image" class="w-9 md:w-auto" />
            </div>
        </div>


        <div
            class="container flex flex-col px-6 py-4 mx-auto space-y-6 md:h-128 md:py-16 md:flex-row md:items-center md:space-x-6">
            <div class="flex flex-col items-center w-full md:flex-row md:w-1/2">

                <div class="max-w-lg md:mx-12 md:order-2">
                    <h1 class="text-5xl font-bold">Conoce mas sobre nosotros</h1>
                    <p class="mt-4 text-gray-600 dark:text-gray-300">Identificar y analizar detalladamente los patrones y tendencias de endeudamiento, con el fin de comprender las causas subyacentes y tomar decisiones informadas para su mitigación. </p>
                    <div class="mt-6">
                        <a href="/nosotros"
                            class="block px-3 py-2 font-semibold text-center text-white transition-colors duration-200 transform bg-blue-500 rounded-md md:inline hover:bg-blue-400">
                            Sobre la empresa</a>
                    </div>
                </div>
            </div>

            <div class="flex items-center justify-center w-full h-96 md:w-1/2">
                <img class="object-cover w-full h-full max-w-2xl rounded-md"
                    src="https://img.freepik.com/foto-gratis/angulo-vista-rascacielos_1359-1105.jpg?w=1380&amp;t=st=1702653856~exp=1702654456~hmac=eebd716a83d7bbcb7243590eee8231432322a44497af96e4af069aad2bb199fe"
                    alt="apple watch photo">
            </div>
        </div>


        <div class="max-w-full mx-auto p-5  bg-gray-100">
            <div class="grid grid-cols-1 md:grid-cols-4 sm:grid-cols-2 gap-5">

                <div class="dark:bg-white shadow-xl p-4">
                    <figure class="p-4">
                        <img src="https://img.freepik.com/foto-gratis/vista-recortada-gerente-profesional-finanzas-serias-sosteniendo-calculadora-manos-verificando-ganancias-mes-compania_176420-7931.jpg?w=1380&t=st=1702656792~exp=1702657392~hmac=6dbc160ea87c719340627fb8b189ff5ad35b81469bab642ace3c2ade3a71317d"
                            alt="Shoes" class="rounded" />
                    </figure>
                    <div class="text-black items-center text-center p-3">
                        <h2 class="text-black font-bold">Calcula</h2>
                        <p>El problema del cálculo económico es una crítica al uso de la planificación económica como un sustituto de la asignación basada en el mercado de los factores de producción.</p>
                        <div class="py-2">
                            
                        </div>
                    </div>
                </div>
                <div class="dark:bg-white shadow-xl p-4">
                    <figure class="p-4">
                        <img src="https://img.freepik.com/foto-gratis/experiencia-programacion-persona-que-trabaja-codigos-computadora_23-2150010125.jpg?w=1380&t=st=1702656858~exp=1702657458~hmac=4ef49a01abe475986515ad6a9da9639d313675fe45fe58034ce3ea47971089c4"
                            alt="Shoes" class="rounded" />
                    </figure>
                    <div class="text-black items-center text-center p-3">
                        <h2 class="text-black font-bold">Software</h2>
                        <p>El software contable es una herramienta fundamental para las empresas y organizaciones que necesitan gestionar sus finanzas de manera eficiente. Estos programas proporcionan funcionalidades para llevar a cabo tareas contables esenciales</p>
                        <div class="py-2">
                            
                        </div>
                    </div>
                </div>
                <div class="dark:bg-white shadow-xl p-4">
                    <figure class="p-4">
                        <img src="https://img.freepik.com/fotos-premium/mano-lapiz-escribiendo-primer-plano-pagina-calendario_293060-6639.jpg?w=1380"
                            alt="Shoes" class="rounded" />
                    </figure>
                    <div class="text-black items-center text-center p-3">
                        <h2 class="text-black font-bold">Ordena</h2>
                        <p>Las formas de organización económica se definen como las distintas maneras en que los seres humanos han organizado a la sociedad para resolver los problemas económicos</p>
                        <div class="py-2">
                           
                        </div>
                    </div>
                </div>
                <div class="dark:bg-white shadow-xl p-4">
                    <figure class="p-4">
                        <img src="https://img.freepik.com/foto-gratis/hombre-barbudo-sorprendido-frustrado-camisa-blanca-mostrando-billetera-vacia_171337-18833.jpg?w=1380&t=st=1702656953~exp=1702657553~hmac=8c342ce3c54bad6452ddd1dadb022b2dacff44763aaa68dd3317451957da685e"
                            alt="Shoes" class="rounded" />
                    </figure>
                    <div class="text-black items-center text-center p-3">
                        <h2 class="text-black font-bold"> ahorra </h2>
                        <p>El ahorro es la parte de los ingresos que no se usa en el consumo: del dinero que ingresa, es la porción que no se gasta. ¿Para qué sirve?</p>
                        <div class="py-2">
                            
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </Layout>
   
</template>

<style scoped></style>
