<script setup>
import { ref } from 'vue';
import Layout from '@/layouts/Layout.vue'
import { useAuthStore } from '@/stores';

const authStore = useAuthStore();
const isSending = ref(false);
const email = ref('');
const password = ref('');
const editErrors = ref([]);

const onSubmit = () => {
    editErrors.value = [];
    const sendForm = authStore.login(email.value, password.value);
    isSending.value = true;
    sendForm.then((response) => {

    })
        .catch((error) => {
            if (error.response) {
                editErrors.value = error.response.data.errors;
                console.log("server responded");
            } else if (error.request) {
                console.log("network error");
            } else {
                console.log(error);
            }
        }).finally(function () {
            // always executed
            isSending.value = false;
        });

};


</script>

<template>
    <Layout>

        <div class="surface-ground flex items-center justify-center min-w-screen overflow-hidden  py-5">
            <div class="flex flex-column items-center justify-center w-full">
                
                <form @submit.prevent="onSubmit"  class="md:w-3/12">
                        <div class="w-full surface-card py-8 px-5 sm:px-8 bg-gray-800 rounded">
                            <div class="text-center mb-5">
                                <div class="text-900 text-3xl font-medium mb-3">Login</div>
                            </div>

                            <div>
                                <label for="email1" class="text-start block text-900 text-lg font-medium">Email</label>
                            <InputText name="email" v-model="email" type="email" label="email" placeholder="Email" />
                            <div v-if="editErrors" class="text-wrap text-start">
                                <div v-if="editErrors.email">
                                    <small class="text-red-500" v-for="item in editErrors.email">
                                        {{ item }}
                                    </small>
                                </div>
                            </div>

                              <label for="password" class="block text-900 font-medium text-lg mb-1">Password</label>
                            <Password v-model="password" :feedback="false" toggleMask class="w-full" style="{width: 100% !important;}" />
                            <div v-if="editErrors" class="text-wrap text-start">
                                <div v-if="editErrors.password">
                                    <small class="text-red-500" v-for="item in editErrors.password">
                                        {{ item }}
                                    </small>
                                </div>
                            </div>

                                <div class="flex items-center justify-between mb-0 gap-5">
                                    <div class="flex items-center text-sm" >
                                        <label for="rememberme1">Aun no tienes una cuenta?</label>
                                    </div>
                                    <Button type="button" label="Registrarse" text severity="info">
                                        <router-link to="/register">Registrarse</router-link>
                                    </Button>

                                </div>
                                <div class="flex  mb-2 gap-2">
                                    
                                    <Button link type="button" label="Olvidaste tu contraseña?" text severity="info">
                                        <router-link to="/reset">Olvidaste tu contraseña?</router-link>
                                    </Button>
                                </div>
                                
                                <div v-if="editErrors.user">
                                    <small class="text-red-500" v-for="item in editErrors.user">
                                        {{ item }}
                                    </small>
                                </div>
                            <Button type="submit" :loading="isSending" label="Login"
                                class=" submit-btn w-full text-center p-3 mt-3 text-xl"></Button>
                            </div>
                        </div>
                    </form>
                    </div>
            </div>

    </Layout>
</template>
<style scoped>
</style>