<script setup>
import { ref, onMounted } from 'vue';
import Layout from '@/layouts/Layout.vue'
import { useAuthStore } from '@/stores';
import { useToast } from "primevue/usetoast";
import { useRouter, useRoute } from 'vue-router'
import Password from 'primevue/password';
const router=useRouter();
const route=useRoute();

const isSending = ref(false);
const editErrors = ref([]);
const authStore = useAuthStore();
const toast = useToast();

const user=ref({
    email:'',
    token:'',
    password:'',
    password_confirmation:''

});

onMounted(() => {
    user.value.email=route.params.email;
    user.value.token=route.params.token;
    
    
})

const onSubmit = () => {
    editErrors.value = [];
    const sendForm = authStore.resetPassword(user.value);
    isSending.value = true;
    sendForm.then((response) => {
        toast.add({ severity: 'success', summary: 'Ok', detail: 'Se ha restablecido la contraseña.', life: 3000 });
        setTimeout(function(){
            router.push('/login')
                }, 2000);
    })
        .catch((error) => {
            if (error.response) {
                editErrors.value = error.response.data.errors;
                console.log(error.response.data.errors);
                console.log("server responded");
            } else if (error.request) {
                console.log("network error");
            } else {
                console.log(error);
            }
        }).finally(function () {
            // always executed
            isSending.value = false;
        });

};

</script>

<template>
    <Layout>
        <Toast />
        <div class="surface-ground flex items-center justify-center min-w-screen overflow-hidden  py-5">
            <div class="flex flex-column items-center justify-center w-full">

                <form @submit.prevent="onSubmit" class="md:w-4/12">
                    <div class="p-5">
                        <div class="w-full surface-card py-8 px-5 sm:px-8 bg-gray-800 rounded">
                            <div class="text-center mb-5">
                                <div class="text-900 text-3xl font-medium mb-3">Nueva contraseña</div>
                            </div>
                            <div class="text-center">
                                <label for="email1" class="text-start block text-900 text-lg font-medium mb-2">Email</label>
                                <InputText id="email1" aria-setsize="small" type="text" placeholder="Email" disabled
                                    class="w-full mb-2" style="padding: 1rem" v-model="user.email" />
                                <div v-if="editErrors" class="text-wrap text-start">
                                    <div v-if="editErrors.email">
                                        <small class="text-red-500" v-for="item in editErrors.email">
                                            {{ item }}
                                        </small>
                                    </div>
                                </div>
                                <label for="email1" class="text-start block text-900 text-lg font-medium mb-2">Password</label>
                                <Password v-model="user.password" :feedback="false" toggleMask class="w-full" style="{width: 100% !important;}" />
                             <div v-if="editErrors" class="text-wrap text-start">
                                    <div v-if="editErrors.password">
                                        <small class="text-red-500" v-for="item in editErrors.password">
                                            {{ item }}
                                        </small>
                                    </div>
                                    <div v-if="editErrors.token">
                                        <small class="text-red-500" v-for="item in editErrors.token">
                                            {{ item }}
                                        </small>
                                    </div>
                                </div>
                                <Button label="Enviar" type="submit" :loading="isSending"
                                    class="p-3 mt-5  text-xl"></Button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </Layout>
</template>
<style scoped></style>