<script setup>
import { ref, computed } from 'vue';

import AppLayout from '@/layouts/AppLayout.vue'
import { useAuthStore, useTaskStore } from '@/stores';
import * as yup from 'yup';

import { useForm } from 'vee-validate';
import { useToast } from "primevue/usetoast";
import TextInput from '@/components/TextInput.vue'
const authStore = useAuthStore();
const toast = useToast();

const isSending=ref(false);
const editErrors=ref([]);

const taskStore = useTaskStore();

taskStore.resetTasks();
//taskStore.getAll();
const dataUser = ref({
    nombre:'',
    username:'',
    apellido:'',
    descripcion:''

});
const editModal = ref(false);
const modalPassword = ref(false);



//modal contraseña
const showDialogPassword = () => {
    modalPassword.value = true;

};


    
const { errors, handleSubmit } = useForm({
    validationSchema:yup.object(
        {
            password: yup.string().min(4).required("campo obligatorio"),
                   
         }
         )});


//modal editar
const showDialogEdit2 = () => {

    dataUser.value.nombre=authStore.user.name
    dataUser.value.apellido=authStore.user.lastname
    dataUser.value.descripcion=authStore.user.description
    dataUser.value.username=authStore.user.username
    dataUser.value.id=authStore.user.id
    editModal.value = true;

};
const onSubmitPassword = handleSubmit((values, { resetForm }) => {
    authStore.changePassword(values.password, authStore.user.id);
    modalPassword.value=false;
    toast.add({ severity: 'success', summary: 'Editado', detail: 'Se ha Editado.', life: 3000 });    resetForm();
    //authStore.logout();

});


const onSubmit =() => {
    editErrors.value=[];
    const sendForm=authStore.updateUser(dataUser.value, authStore.user.id);
    isSending.value=true;
    sendForm.then((response) => {
        editModal.value=false;
        toast.add({ severity: 'success', summary: 'Editado', detail: 'Se ha Editado.', life: 3000 });
      })
      .catch((error) => {
        if (error.response) {
           editErrors.value=error.response.data.errors;
          console.log(error.response);
          console.log("server responded");
        } else if (error.request) {
          console.log("network error");
        } else {
          console.log(error);
        }
      }).finally(function () {
    // always executed
    isSending.value=false;
  }); 

};

</script>

<template>
    <Toast />


    <!--Modal editar contraseña-->
    <Dialog v-model:visible="modalPassword" modal header="Editar Contraseña" :style="{ width: '20rem' }">
        <form @submit="onSubmitPassword" @v-slot="{ errors }"  class="w-full">
            <div class=" surface-card p-0 m-0 bg-gray-800 rounded">
                <label for="password" class="block text-900 font-medium text-lg">Password</label>
                <TextInput name="password" class="mb-3" type="password" label="password" placeholder="Password" />

                <div v-if="authStore.getErrors">
                    <div v-if="authStore.getErrors.password">
                        <small class="text-red-500" v-for="item in authStore.getErrors.password">
                            {{ item }}
                        </small>
                    </div>
                </div>
                <Button type="submit" size="small" label="Aceptar"
                    class="p-2 mt-5 text-md"></Button>

            </div>
        </form>
    </Dialog>

    <!--Modal editar -->
    <Dialog v-model:visible="editModal" modal header="Editar" :style="{ width: '20rem' }">
      <div>
          
          <form @submit.prevent="onSubmit" class="w-full" >
            <div class=" surface-card p-0 m-0 bg-gray-800 rounded">
              
                <label for="nombre" class="block w-full text-900 font-medium text-base">Nombre</label>
                <InputText id="nombre" class="w-full" v-model="dataUser.nombre"  />
                <div v-if="editErrors">
                    <div v-if="editErrors.name">
                        <small class="text-red-500" v-for="item in editErrors.name">
                            {{ item }}
                        </small>
                    </div>
                </div>
                 
                <label for="apellido" class="block w-full text-900 font-medium text-base">Apellido</label>
                <InputText id="id" class="w-full" v-model="dataUser.apellido" />
                <div v-if="editErrors">
                    <div v-if="editErrors.lastname">
                        <small class="text-red-500" v-for="item in editErrors.lastname">
                            {{ item }}
                        </small>
                    </div>
                </div>

                <label for="username" class="block w-full text-900 font-medium text-base">Username</label>
                <InputText id="username" class="w-full" v-model="dataUser.username"  />
         
                <div v-if="editErrors">
                    <div v-if="editErrors.username">
                        <small class="text-red-500" v-for="item in editErrors.username">
                            {{ item }}
                        </small>
                    </div>
                </div>
                
                <label for="descripcion" class="block w-full text-900 font-medium text-base">Información</label>
                <InputText id="id" class="w-full" v-model="dataUser.descripcion" />
             
                <Button type="submit" size="small" :loading="isSending" label="Aceptar"
                class="p-2 mt-5 text-md"></Button>
                
            </div>
        </form>
    </div>
    </Dialog>


    <AppLayout>
        <div class="col-span-12">
            <Panel>
                <template #header>
                    <div class="flex items-center gap-1">

                        <span class="font-bold text-xl">Perfil Usuario</span>
                    </div>
                </template>
                <div class="overflow-hidden shadow rounded-lg border">

                    <div class="border-gray-100/80 px-4 py-5 sm:p-0" v-if="authStore.user">
                        <dl class="sm:divide-y sm:divide-gray-100/80">
                            <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                <dt class="font-bold">
                                    Nombre
                                </dt>
                                <dd class="mt-1 sm:mt-0 sm:col-span-2">
                                    {{ authStore.user.name }}
                                </dd>
                            </div>
                            <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                <dt class="font-bold">
                                    Apellido
                                </dt>
                                <dd class="mt-1 sm:mt-0 sm:col-span-2">
                                    {{ authStore.user.lastname }}
                                </dd>
                            </div>
                            <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                <dt class="font-bold">
                                    Información
                                </dt>
                                <dd class="mt-1 sm:mt-0 sm:col-span-2">
                                    {{ authStore.user.description }}
                                </dd>
                            </div>
                            <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                <dt class="font-bold">
                                    Username
                                </dt>
                                <dd class="mt-1 sm:mt-0 sm:col-span-2">
                                    {{ authStore.user.username }}
                                </dd>
                            </div>
                            <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                <dt class="font-bold">
                                    Email
                                </dt>
                                <dd class="mt-1 sm:mt-0 sm:col-span-2">
                                    {{ authStore.user.email }}
                                </dd>
                            </div>

                        </dl>
                    </div>

                </div>
                <Button type="button" class="mt-5" size="small" label="Editar" @click.prevent="showDialogEdit2" />
                <Button type="button" class="ml-5 mt-5" size="small" label="Cambiar contraseña" @click.prevent="showDialogPassword" />
            </Panel>
        </div>

    </AppLayout>
</template>
<style scoped></style>