<script setup>
import { ref,computed } from 'vue';
 import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/css/index.css';
import { useAuthStore } from '@/stores';
const authStore = useAuthStore();
const doubleValue = computed(() => authStore.submitting)
</script>

<template>
     <div class="vl-parent">
        <loading v-model:active="doubleValue"
                 :can-cancel="false"
                 :on-cancel="onCancel"
                 background-color="#BABABA"
                 :is-full-page="fullPage"/>
                 <router-view />
    </div>
</template>
