@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: 'Inter var', sans-serif;
    font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
    font-variation-settings: normal;
    --font-family: 'Inter var', sans-serif;
    --font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
    --primary-50: 239 246 255;
    --primary-100: 219 234 254;
    --primary-200: 191 219 254;
    --primary-300: 147 197 253;
    --primary-400: 96 165 250;
    --primary-500: 59 130 246;
    --primary-600: 37 99 235;
    --primary-700: 29 78 216;
    --primary-800: 30 64 175;
    --primary-900: 30 58 138;
    --primary-950: 23 37 84;

    
    --surface-0: 255 255 255;
    --surface-50: 249 250 251;
    --surface-100: 243 244 246;
    --surface-200: 229 231 235;
    --surface-300: 209 213 219;
    --surface-400: 156 163 175;
    --surface-500: 107 114 128;
    --surface-600: 75 85 99;
    /*--surface-700: 55 65 81;*/
    --surface-700: 30 30 30;
    --surface-800: 31 41 55;
    --surface-900: 12 12 12;
    --surface-950: 8 8 8;
    --surface-card: 30 30 30;
}

:root {
    --body-bg: rgb(var(--surface-50));
    --body-text-color: rgb(var(--surface-900));
    --card-border: 1px solid var(--border-color);
    --card-bg: rgb(var(--surface-0));
    --border-color: rgb(var(--surface-200));
}

:root[class='dark'] {
    --body-bg: rgb(var(--surface-900));
    --body-text-color: rgb(var(--surface-50));
    --card-border: 1px solid transparent;
    --card-bg: rgb(var(--surface-800));
    /*--border-color: rgba(255, 255, 255, 0.1);*/
}

html {
    font-size: 16px;
}

body {
    margin: 0px;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--body-bg);
    font-weight: normal;
    color: var(--body-text-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /*padding: 1rem;*/
}



@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes scalein {
    0% {
        opacity: 0;
        transform: scaleY(0.8);
        transition: transform 0.12s cubic-bezier(0, 0, 0.2, 1),
        opacity 0.12s cubic-bezier(0, 0, 0.2, 1);
    }
    100% {
        opacity: 1;
        transform: scaleY(1);
    }
}

@keyframes slidedown {
    0% {
        max-height: 0;
    }
    100% {
        max-height: auto;
    }
}
@keyframes slideup {
    0% {
        max-height: 1000px;
    }
    100% {
        max-height: 0;
    }
}

.scalein {
    animation: scalein 150ms linear;
}

.fadein {
    animation: fadein 150ms linear;
}

.fadeout {
    animation: fadeout 150ms linear;
}

.slidedown {
    animation: slidedown 0.45s ease-in-out;
}

.slideup {
    animation: slideup 0.45s cubic-bezier(0, 1, 0, 1);
}

.layout-ripple-disabled [data-pc-name='ripple'] {
    display: none !important;
}
