<script setup>

import { ref, onMounted, computed, watch, } from "vue";
import AppTopBar from '@/layouts/AppTopBar.vue';

import AppSideBar from '@/layouts/AppSideBar.vue'

import { useLayout } from '@/layouts/composables/layout';
import { useConfigStore } from '@/stores/config.js'
const { layoutConfig, layoutState, isSidebarActive } = useLayout();

const outsideClickListener = ref(null);
const configStore = useConfigStore();

const items22 = ref([]);
const props = defineProps({
    pagina: {
        type: Array,
        default: [],
    },

});
onMounted(() => {
    items22.value = props.pagina;
})

const setMenu = (menu) => {
    configStore.showMenu(menu);
}


watch(isSidebarActive, (newVal) => {
    if (newVal) {
        bindOutsideClickListener();
    } else {
        unbindOutsideClickListener();
    }
});

const containerClass = computed(() => {
    return {
        'layout-theme-light': layoutConfig.darkTheme.value === 'light',
        //'layout-theme-dark': layoutConfig.darkTheme.value === 'dark',
        'layout-overlay': layoutConfig.menuMode.value === 'overlay',
        'layout-static': layoutConfig.menuMode.value === 'static',
        'layout-static-inactive': layoutState.staticMenuDesktopInactive.value && layoutConfig.menuMode.value === 'static',
        'layout-overlay-active': layoutState.overlayMenuActive.value,
        'layout-mobile-active': layoutState.staticMenuMobileActive.value,
        'p-input-filled': layoutConfig.inputStyle.value === 'filled',
        'p-ripple-disabled': !layoutConfig.ripple.value
    };
});
const bindOutsideClickListener = () => {
    if (!outsideClickListener.value) {
        outsideClickListener.value = (event) => {
            if (isOutsideClicked(event)) {
                layoutState.overlayMenuActive.value = false;
                layoutState.staticMenuMobileActive.value = false;
                layoutState.menuHoverActive.value = false;
            }
        };
        document.addEventListener('click', outsideClickListener.value);
    }
};
const unbindOutsideClickListener = () => {
    if (outsideClickListener.value) {
        document.removeEventListener('click', outsideClickListener);
        outsideClickListener.value = null;
    }
};
const isOutsideClicked = (event) => {
    const sidebarEl = document.querySelector('.layout-sidebar');
    const topbarEl = document.querySelector('.layout-menu-button');

    return !(sidebarEl.isSameNode(event.target) || sidebarEl.contains(event.target) || topbarEl.isSameNode(event.target) || topbarEl.contains(event.target));
};
</script>

<template>
    <div class="layout-wrapper layout-static" :class="containerClass">
        <!--Top-->
        <AppTopBar></AppTopBar>
        <div class="layout-sidebar dark:bg-surface-card">
            
            <AppSideBar></AppSideBar>
        </div>

        <div class="layout-main-container ">
            <div class="layout-main dark:bg-surface-card">
                
                <div class="grid grid-cols-12 gap-4 pt-4  px-5 overflow-x-auto">
                    <slot></slot>
                </div>
            </div>

            
        </div>
        <div class="layout-mask"></div>
    </div>
</template>

<style scoped></style>
