<template>
  <div class="layout-menu flex justify-center">
    <Menu :model="items">
      <template #item="{ item, props }">
        <router-link v-if="item.route" v-slot="{ href, navigate }" :to="item.route" custom>
          <a :href="href" v-bind="props.action" @click="navigate">
            <span :class="item.icon" />
            <span class="ml-2">{{ item.label }}</span>
          </a>
        </router-link>
        <a v-else v-ripple :href="item.url" :target="item.target"  v-bind="props.action">
                    <span :class="item.icon" />
                    <span class="ml-2">{{ item.label }}</span>
                </a>
      </template>
    </Menu>

  </div>
</template>
  
<script setup>
import { ref } from "vue";
import { useRouter } from "vue-router";
import {  useRoute } from 'vue-router'
import { useAuthStore } from '@/stores';

const router = useRouter();
//const route = useRoute();
const authStore = useAuthStore();
const logOut = () => {
    authStore.logout();
};

const items = ref([
  {
    label: 'Perfil',
    icon: 'pi pi-user',
    //route: '/perfil'
    command: () => {
     router.push('/perfil')
        }
  },
  {
    label: 'Calendario',
    icon: 'pi pi-calendar',
    route: '/calendario'
  },
  {
    label: 'Balance',
    icon: 'pi pi-chart-bar',
    route: '/balance'

  },
  {
    label: 'Logout',
    icon: 'pi pi-sign-out',
    command: () => {
      logOut()
        }
    
  }
]);
</script>