<script setup>
import { ref, computed, onMounted } from 'vue';
import { useLayout } from '@/layouts/composables/layout';
import Button from 'primevue/button';
import { useAuthStore } from '@/stores';


const { layoutConfig, onMenuToggle } = useLayout();
const authStore = useAuthStore();
const outsideClickListener = ref(null);
const topbarMenuActive = ref(false);


onMounted(() => {
    //bindOutsideClickListener();
});


const logoUrl = computed(() => {
    return `layout/images/${layoutConfig.darkTheme.value ? 'logo-white' : 'logo-dark'}.svg`;
});

const lougut = () => {
    authStore.logout();
};

const onTopBarMenuButton = () => {
    topbarMenuActive.value = !topbarMenuActive.value;
};

const topbarMenuClasses = computed(() => {
    return {
        'layout-topbar-menu-mobile-active': topbarMenuActive.value
    };
});

const bindOutsideClickListener = () => {
    if (!outsideClickListener.value) {
        outsideClickListener.value = (event) => {
            if (isOutsideClicked(event)) {
                topbarMenuActive.value = false;
            }
        };
        document.addEventListener('click', outsideClickListener.value);
    }
};

const isOutsideClicked = (event) => {
    if (!topbarMenuActive.value) return;

    const sidebarEl = document.querySelector('.layout-topbar-menu');
    const topbarEl = document.querySelector('.layout-topbar-menu-button');

    return !(sidebarEl.isSameNode(event.target) || sidebarEl.contains(event.target) || topbarEl.isSameNode(event.target) || topbarEl.contains(event.target));
};
</script>

<template>
    <div class="layout-topbar dark:bg-surface-card">
        <div class="flex justify-center text-center">

            <router-link to="/" class="layout-topbar-logo">
                <!--T
                    <img :src="logoUrl" alt="logo" />
                    ---->
                <span>SRF</span>
            </router-link>
        </div>


        <Button class="layout-menu-button" @click="onMenuToggle()">
            <i class="pi pi-bars"></i>
        </Button>

        <button class="p-link layout-topbar-menu-button layout-topbar-button" @click="onTopBarMenuButton()">
            <i class="pi pi-ellipsis-v"></i>
        </button>


        <div class="layout-topbar-menu dark:bg-surface-card" :class="topbarMenuClasses">
            <div class="my-auto text-center">
                <p class="font-normal my-2 dark:text-white">
                    {{ authStore.user.name }}
                </p>
            </div>

            <div class="flex justify-end items-center">

                <Button text icon="pi pi-sign-out" @click.prevent="authStore.logout()" />

            </div>
        </div>


    </div>
</template>

<style lang="scss" scoped></style>