<script setup>
import NavBar from '@/components/NavBar.vue';
import Footer from '@/components/Footer.vue';
</script>

<template>
    <NavBar></NavBar>
    <div class="h-screen">

            <slot />
            <Footer></Footer>
        </div>
</template>
